.container {
    max-width: 1000px;
    padding: 4rem;
    background-color: lightgray;
    display: flex;
    gap: 6rem;
    border-radius: 1rem;

    font-family: sans-serif;
    margin-bottom: 2rem;
}